<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}GIV ME TITLE PLS{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<center>
				<font face = "courier new">
					{% set msgs = get_flashed_messages(with_categories=true) %}
					{% for category, msg in msgs %}
						<p>
							<font color="{{category}}"> {{ msg }} </font>
						</p>
					{% endfor %}
				</font>
				{% block body %}
					<h1>HELP I NEED CONTENT</h1>
				{% endblock %}
			</center>
		</div>
	</body>
</html>
