<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}GIV ME TITLE PLS{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<center>
				{% block header %}
				{% endblock %}
				<br>
				{% set msgs = get_flashed_messages(with_categories=true) %}
				{% for category, msg in msgs %}
				<div class="alert {{ category }}" role="alert">
  				{{ msg }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					   <span aria-hidden="true">&times;</span>
					 </button>
				</div>
				{% endfor %}
				{% block body %}
					<h1>HELP I NEED CONTENT</h1>
				{% endblock %}
			</center>
		</div>
	</body>
</html>
