{% extends "_base.html" %}

{% block title %}
	Games
{% endblock %}

{% block body %}
<h1>Play</h1>
<small class="text-danger">(Only active games are shown.)</small>
<br><br>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<h3>Single Player Games</h3>
				{% for game in single %}
				<form action="/play" method="post">
					<input type="hidden" value="{{ game }}" name="id">
					<button class="btn btn-link" type="submit">{{ game }}</button>
				</form>
				{% endfor %}
				<br>
				<form action="new" method="post">
					<input type="hidden" value="new" name="id">
					<button class="btn btn-info" type="submit">Create New Game</button>
				</form>
				<br>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<h3>PvP Games</h3>
				{% for game in pvp %}
				<form action="/play" method="post">
					<input type="hidden" value="{{ game }}" name="id">
					<button class="btn btn-link" type="submit">{{ game }}</button>
				</form>
				{% endfor %}
				<br>
				<form action="new" method="post">
					<input type="hidden" value="newp" name="id">
					<button class="btn btn-info" type="submit">Create New Game</button>
				</form>
				<br>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<h3>Team Rallies</h3>
				{% for game in team %}
				<form action="/play" method="post">
					<input type="hidden" value="{{ game }}" name="id">
					<button class="btn btn-link" type="submit">{{ game }}</button>
				</form>
				{% endfor %}
				<br>
				<form action="new" method="post">
					<input type="hidden" value="newt" name="id">
					<button class="btn btn-info" type="submit">Create New Game</button>
				</form>
				<br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
