{% extends "_base.html" %}

{% block title %}
	Leaderboard
{% endblock %}

{% block body %}
  <h1><font color ="#25383C">Leaderboards</font></h1><br>
	<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Top Users
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">User</th>
							<th scope="col">Score</th>
						</tr>
					</thead>
					<tbody>
						{% for i, (k, v) in leaderboard %}
						<tr class="text-center">
							<th>{{ i + 1 }}</th>
							<td>{{ k }}</td>
							<td>{{ v }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Top Countries
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Country</th>
							<th scope="col">Score</th>
						</tr>
					</thead>
					<tbody>
						{% for i, (k, v) in nationboard %}
						<tr class="text-center">
							<th>{{ i + 1 }}</th>
							<td>{{ k }}</td>
							<td>{{ v }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Top Users in {{ country }}
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">User</th>
							<th scope="col">Score</th>
						</tr>
					</thead>
					<tbody>
						{% for i, (k, v) in countryboard %}
						<tr class="text-center">
							<th>{{ i + 1 }}</th>
							<td>{{ k }}</td>
							<td>{{ v }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
