{% extends "_base.html" %}

{% block title %}User Profile{% endblock %}

{% block body %}
<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#passreset" aria-expanded="false" aria-controls="passreset">
	Reset Password
</button>

<div class="collapse" id="passreset">
	<br><br>
	<div class="card" style="align-text:center; display:flex; align-items:center;">
		<h3>Change Your Password</h3>
		<form action="/resetpasswd" method="post" class="w-50 p-3">
			<div class="form-group">
				<label for="password" class="font-weight-bold">New Password</label>
				<input name="password" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="verif" class="font-weight-bold">Password Verification</label>
				<input name="verif" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="oldpass" class="font-weight-bold">Old Password</label>
				<input name="oldpass" type="password" class="form-control" id="oldpass">
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Change Password!</button>
		</form><br>
	</div>
</div>
<br>
<br>
<div class="card collapse show" id="icon">
	<br>
	<h2>Select a profile picture: </h2><br>
	<form action="/icon" method="post">
		<div class="col-sm-10">
			{% for i in enumcoll %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="img" value="{{ i }}">
					<img src="{{ coll[i] }}" style="width:250px">
        </div>
			{% endfor %}
      </div><br>
		<button type="submit" class="btn btn-primary">Set Player Icon!</button>
	</form><br><br>
	<form action="/store" class="font-italic">
		Want more icons?
		<button type="submit" class="btn btn-link">Go to Store</button>
	</form>
</div>

{% endblock %}
