{% extends "_base.html" %}

{% block title %}User Profile{% endblock %}
<head>
<style>
  .carousel {
    width:250px;
    height:250px;
    float: top;
    }
  .carousel-item {
    width:250px;
    height:250px;
    }
</style>
</head>
{% block body %}
<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#passreset" aria-expanded="false" aria-controls="passreset">
	Reset Password
</button>

<div class="collapse" id="passreset">
	<br><br>
	<div class="card" style="align-text:center; display:flex; align-items:center;">
		<h3>Change Your Password</h3>
		<form action="/resetpasswd" method="post" class="w-50 p-3">
			<div class="form-group">
				<label for="password" class="font-weight-bold">New Password</label>
				<input name="password" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="verif" class="font-weight-bold">Password Verification</label>
				<input name="verif" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="oldpass" class="font-weight-bold">Old Password</label>
				<input name="oldpass" type="password" class="form-control" id="oldpass">
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Change Password!</button>
		</form><br>
	</div>
</div>
<br>
<br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner"  width="250px;">
    <div class="carousel-item">
      <div class="carousel-item active" >
        <a href="/newhome?value={{id}}"><img class="d-block w-100" src="{{new}}" alt="First slide"  width="250px;"></a>
        <div class="carousel-caption d-none d-md-block">
        <h5>NEW!</h5>
      </div>
    </div>
  </div>
{% for item in coll%}
      <div class="carousel-item">
          <a href="/newhome?value={{id}}"><img class="d-block w-100" src="{{item}}" alt="Slide" width="250px;"></a>
      </div>
{% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock %}


{% endblock %}
