{% extends "_base.html" %}

{% block title %}User Profile{% endblock %}

{% block body %}
<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#passreset" aria-expanded="false" aria-controls="passreset">
	Reset Password
</button>

<div class="collapse" id="passreset">
	<br><br>
	<div class="card" style="align-text:center; display:flex; align-items:center;">
		<h3>Change Your Password</h3>
		<form action="/resetpasswd" method="post" class="w-50 p-3">
			<div class="form-group">
				<label for="password" class="font-weight-bold">New Password</label>
				<input name="password" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="verif" class="font-weight-bold">Password Verification</label>
				<input name="verif" type="password" class="form-control" id="password">
			</div>
			<div class="form-group">
				<label for="oldpass" class="font-weight-bold">Old Password</label>
				<input name="oldpass" type="password" class="form-control" id="oldpass">
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Change Password!</button>
		</form><br>
	</div>
</div>
<br>
<br>
<div class="card collapse show" id="icon">
	<br>
	<h2>Select a profile picture: </h2><br>
	<form action="/icon" method="post" class="form-horizontal">
			{% for i in enumcoll %}
			<label for="option{{i}}">
				<input class="form-check-input" type="radio" name="img" value="{{ i }}" id="option{{i}}">
				<img src="{{ coll[i] }}" class="img-thumbnail my-4" style="width:250px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			</label>
			{% endfor %}
      <br><br>
		<button type="submit" class="btn btn-primary">Set Player Icon!</button>
	</form><br><br>
	<form action="/store" class="font-italic">
		Want more icons?
		<button type="submit" class="btn btn-link">Go to Store</button>
	</form>
</div>

{% endblock %}






{% extends "_base.html" %}

{% block body %}
  <h1>Collection</h1>
  <br>
  <h3>Select a picture for your profile picture</h3>
  <head>
<style>
  .carousel {
    width:250px;
    height:250px;
    float: top;
    }
  .carousel-item {
    width:250px;
    height:250px;
    }
</style>
</head>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner"  width="250px;">
      <div class="carousel-item active" >
        <a href="#"><img class="d-block w-100" src="{{new}}" alt="First slide"  width="250px;"></a>
        <div class="carousel-caption d-none d-md-block">
        <h5>NEW!</h5>
  </div>
      </div>
{% for item in coll%}
      <div class="carousel-item">
          <a href="#"><img class="d-block w-100" src="{{item}}" alt="Slide" width="250px;"></a>
      </div>
{% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock %}
