{% extends "_base.html" %}

{% block body %}
<font face = "courier new">
  <h1> <font color ="#F597EF"> Sign Up </font> </h1>
  <form action = "/signupcheck" method="POST">
    <b> Username  </b> <br>
    <input type = "text" name = "username" value={{username}}>
    <br><br>
    <b> Password </b> <br>
    <input type = "password" name = "password" value={{password}}>
    <br><br>
    <b> Confirm Password </b> <br>
    <input type = "password" name = "confirmation" value={{confirm}}>
    <br><br>
    <b> Pick a Country to represent </b> <br>
    <select name="flag" value={{flag}}>
      <option value="USA">USA</option>
      <option value="Mexico">Mexico</option>
      <option value="Canada">Canada</option>
      <option value="China">China</option>
      </select>
    <br><br>
    <input type = "submit" name = "sub1" value = "Trivia Time!">
  </form>
  <br><br>
  <form>
    <input type = "button" onclick= "location.href='/';" value = "Back to log in">
  </form>
</font>
{% endblock %}
