{% extends "_base.html" %}

{% block body %}
  <h1>Store</h1>
  <br>
  <h3>What would you like to purchase?</h3>
  <h5>Purchase a card pack to receive pictures for your profile picture!</h5>
  <style>
  .row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card{
    height: 400px;
  }
</style>
  <div class = "container">
  <div class = "row">
  <div class="card" class="col-sm-4" style="width: 18rem; padding-bottom: 15px;">
  <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" class="card-img-top" alt="..." height="250px;">
  <div class="card-body">
    <h6 class="card-title">$50</h6>
    <p class="card-text">Rick and Morty Character Pack</p>
     <a href="/purchase?value=R" class="btn btn-primary">Buy</a>
  </div>
</div>
<div class="card" class= "col-sm-4" style="width: 18rem; padding-bottom: 15px;">
<img src="https://pokeres.bastionbot.org/images/pokemon/658-ash.png" class="card-img-top" alt="..." height="250px;">
<div class="card-body">
  <h6 class="card-title">$75</h6>
  <p class="card-text">Pokemon Pack</p>
    <a href="/purchase?value=P" class="btn btn-primary">Buy</a>
</div>
</div>
<div class="card" class= "col-sm-4" style="width: 18rem; padding-bottom: 15px;" >
<img src="https://picsum.photos/id/1015/6000/4000" class="card-img-top" alt="..." height="250px;">
<div class="card-body">
  <h6 class="card-title">$100</h6>
  <p class="card-text"> Mystery Pack</p>
   <a href="/purchase?value=M" class="btn btn-primary">Buy</a>
</div>
</div>
</div>
{% endblock %}
